* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/image-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    padding: 15vh 0 15vh 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 0 5vw;
}

h1 {
    text-align: center;
    margin-bottom: 3vh;
    color: #6CDBB6;
    font-family: Arial, sans-serif;
    font-weight: 100;
}

h2 {
    color: #F4F6FA;
    font-weight: 100;
    font-family: Arial, sans-serif;
}

p {
    margin: 5vh 0 5vh 0;
    color: #CDD4E7;
    font-family: Arial, sans-serif;
    font-size: larger;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 30px;
}

#logos {
    display: flex;
    flex-direction: column;
}

#logos img {
    width: 25vw;
    margin: 2vh 0 2vh 0;
}

#formulario {
    display: flex;
    flex-direction: column;
    width: 90%;
}

input {
   margin: 2vh;
   border-radius: 1rem;
   border: none;
   padding: 2vh;
   font-weight: 800;
}

#email {
   background: #2b344b;
}

#submit {
    background: #71e7af;
}

#error {
    color:white;
}

footer {
    display: none;
}

/*Responsive*/

@media screen and (max-width: 375px) {
    
    body {
    background-image: url(./assets/image-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
    
  body {
    background-image: url(./assets/image-host.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  header {
    background: #111725;
    width: 50vw;
  }

  #formulario {
    background: #2C344B;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    border-radius: 1.5rem;
    margin: 5vh 0 15vh 0;
    order: 1;
  }

  input {
    margin: 0;
    width: 50%;
  }

  footer {
    display: inline;
  }

  #img-pod {
    padding: 5vh 15vw 10vh 5vw;
  }

  main {
    background: #111725;
    width: 90vw;
    align-items: flex-start;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  #logos {
    display: flex;
    flex-direction: row;
    order: 2;
  }

  #logos img {
    width: 25%;
    padding-left: 2vw;
  }

  h1 {
    text-align: start;
    padding-top: 10vh;
  }

  footer {
    background: #111725;
    display: block;
}

  p {
    padding-right: 20vw;
  }

  #footer-img {
    padding: 15vh 0 0 5vw;
  }
}

@media screen and (min-width: 769px) {

   body{
        background-image: url(./assets/image-desktop.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
   }

   header {
    background: #111725;
    width: 40vw;
   }

   main {
    background: #111725;
    width: 60vw;
    display: flex;
    align-items: start;
    padding-left: 35vh;
   }

   #formulario {
    background: #2C344B;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    border-radius: 1.5rem;
    margin: 5vh 0 15vh 0;
    order: 1;
  }

  input {
    margin: 0;
    width: 50%;
    min-width: 10vw;
  }

   #logos {
    display: flex;
    flex-direction: row;
    order: 2;
   }

   #logos img {
    width:10vw;
   }

   #logos-hijos {
    padding-left: 2vw;
   }

   footer {
    display: block;
    background: #111725;
    display: flex;
    justify-content: flex-end;
    height: 20vh;
   }

   #footer-img {
    margin-top: -10vh;
    width: 20vw;
    height: 20vh;
   }

}





